<html>

  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div class="bodybackground">

      <div id="openseadragon1" class="viewer"></div>
      <script src="../static/openseadragon/openseadragon.min.js"></script>

      <script type="text/javascript">
          var viewer = OpenSeadragon({
              id: "openseadragon1",
              showNavigationControl: false,
              sequenceMode: true,
              preserveViewport: true,
              showSequenceControl: false,
              tileSources: [{{images | safe}}]

          });
      </script>

      <div class="formbackground">
        <form method="POST" action="/">
          {{form.csrf_token}}
          {{ form.dest.label }}
          {{ form.dest }}
          <div class="formElement">
            {{ form.access.label }}
            {{ form.access }}
          </div>
          {{ form.submit }}
        </form>
      </div>

    <input type="range" min="{{ min }}" max="{{ max }}" value="0" class="slider" id="myRange" onchange="pageT()">
    <script>
      function pageT() {
        viewer.goToPage(document.getElementById("myRange").value);
        document.getElementById('sliderVAL').innerHTML="Floor Level: " + document.getElementById("myRange").value
      }
    </script>

    <a href="{{ url_for('index') }}">
      <div class="linkbox">
        Clear Route
      </div>
    </a>

    <div class="linkbox" id="sliderVAL">
      Floor Level: 0
    </div>

    </div>

  </body>

</html>
