body {
  background-color: black;
}

div.bodybackground {
  background-color: #ff2222;
  font-family: Arial;
  overflow: hidden;
  opacity: 0.9;
  color: #ffffff;
  padding: 30px;
  text-align: center;
  border-radius: 5px 5px 40px 5px;
}

div.formbackground {
  background-color: #ffffff;
  float: left;
  color: #ff0000;
  padding: 20px;
  margin: 30px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
}

div.formElement{
  margin: 20px 0px 20px;
}

div.viewer{
  width: 80%;
  height: 90%;
  float:left;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

div.linkbox {
  background-color: #ffffff;
  float: left;
  color: #ff0000;
  padding: 20px;
  margin: 30px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

div.linkbox:hover {
  background-color: #eeeeee;
}

.slider {
  width: 23%;
  height: 10%;
}

input[type="range"] {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: rotate(270deg);
}
